pexpect~=4.8.0
ptyprocess~=0.6.0
python-nmap~=0.6.1
beautifulsoup4~=4.9.1
Pillow>=8.3.2
pypdf4~=1.27.0
requests~=2.23.0
geoip2~=3.0.0
dpkt~=1.9.2
scapy~=2.4.3
IPy~=1.0
pybluez~=0.23
MechanicalSoup~=0.12.0
